   <!-- main content  -->
   <div>
    <div class="my-8 mt-20 md:mt-3">
        <p class="text-white text-4xl"><span class="text-my-purple">/</span>projects</p>
        <p class="text-gray-400 text-xs py-1">List of my projects</p>
    </div>
    <!-- complete apps div -->
        <div class="">
            <p class="text-2xl py-5 text-white" ><span class="text-my-purple">#</span>complete-apps</p>
           
            <div class="grid sm:grid-cols-3 lg:grid-cols-4 sm:gap-3 gap-7 sm:px-0 px-10">
                @if(projectList){
                    @for (project of projectList; track $index) {
                        @if (!project.small_project && project.data_analysis) {
                    <app-project [project]="project"></app-project>
                        }
                }@empty {
                    <p class="text-center ">No small projects!</p>
                }}
            </div>
        </div>
    <!-- end of complete apps div -->
    
    <!-- small projects div -->
    <div class=" py-3 my-8">
        <p class="text-xl py-3 text-white" ><span class="text-my-purple">#</span>small-projects</p>
    
        <div class="grid sm:grid-cols-3 lg:grid-cols-4 sm:gap-3 gap-7 my-4 sm:px-0 px-10">
            <!-- project card  -->
            @if(projectList){
                @for (project of projectList; track $index) {
                    @if (project.small_project && project.data_analysis) {
                <app-project [project]="project"></app-project>
                    }
            }@empty {
                <p class="text-center ">No small projects!</p>
            }}
            <!-- end of project card -->         
        </div>
    </div>
    <!-- end of small projects div -->
    
    </div>
    
   
    