@font-face {
    font-family: "nine-five";
    src: url('./NineByFiveNbp-MypB.ttf');
};

@font-face {
    font-family:"high";
    src: url("./Highland-EaVOe.otf");
};
@font-face {
    font-family:"emo";
    src: url("./EmotionalBaggage-ZVdXK.ttf");
}
@font-face {
    font-family:"gli";
    src: url('./Glitchcrafty-lgo4V.ttf');
}